<header>
  <div class = "container">
    <h1>WAE assignment 1</h1>
  </div>
</header>

<div class="divbyzero">
  <a href="divbyzero/ques1">would u like to divide by zero</a>
</div>


<footer class= "footer-page">
  <div class="container">
    <a href="https://validator.w3.org">HTML_validation</a>
</div>
</footer>
